.full-cover {
	min-height: 85vh;
	position: fixed;
	top: 3.5em;
	bottom: -2em;
	left: 0;
	right: 0;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1, h2, h3, h4, a, div, button{
		padding: 1em;
	}

	@media screen and (max-width: 620px){
		top: 9.5em;
		position: inherit;
	}
}
/* 
.cog-bg{
	background: url('/assets/overlay-bg.png') top left no-repeat;
	background-size: contain;
}

button.primary-btn{
	background: $c-pink;
	border: 2px solid $c-pink;
	color: $c-white;
	padding: .65em 1em;
	border-radius: 8.5px;

	&:active,
	&:hover{
		background: transparent;
		border: 2px solid $c-pink;
		text-decoration: none;
		color: $c-pink;
		@include boxshadow;
	}
}

button.primary-green-btn{
	background: $c-green-m;
	border: 2px solid $c-green-m;
	color: $c-white;
	padding: .65em 1em;
	border-radius: 8.5px;

	&:active,
	&:hover{
		background: transparentize($c-green-m, .5);
		border: 2px solid $c-green-m;
		text-decoration: none;
		@include boxshadow;
	}
}

button.secondary-btn{
	background: transparent;
	border: 2px solid $c-pink;
	color: $c-pink;
	padding: .65em 1em;
	border-radius: 8.5px;
	@include transition;

	&:active,
	&:hover{
		background: darken($c-pink, 5%);
		border: 2px solid $c-pink;
		color: $c-white;
		text-decoration: none;
		@include boxshadow;
	}
}

button.link-btn{
	background: transparent;
	border: 2px solid transparent;
	color: $c-pink;
	padding: .65em 1em;
	@include transition;

	&:active,
	&:hover{
		color: $c-green-d;
		background: transparent;
		border: 2px solid transparent;
		text-decoration: underline;
	}
}

button:disabled{
	background: inherit !important;
	border: inherit !important;
	color: inherit !important;
}

a{
	color: $c-green-m;
	&:visited,
	&:active,
	&:hover{
		color: $c-green-l;
		transform: scale(1.1);
	}
}

button.play-btn{
	animation-name: shrinkNspin; 
	animation-duration: 4s;
	animation-delay: 0.25s;
}

button.save-article{
	@extend button, .primary-green-btn;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0 0 8.5px;
}

// "Saved" message should appear the same 
div.save-article{
	@extend button, .save-article;
}
 */
/* 
// ==================================================
// Nav Menu

nav.top-nav{
	min-height: 3.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 1em;
	z-index: 1;
	// margin-bottom: .25em;

	background: $c-green-d;
	color: $c-offwhite;

	a {
		color: $c-offwhite;
		margin: 0 .5em;

		&:hover{
			color: $c-white;
		}
	}

	.play a {
		@extend button, .primary-btn;
		color: $c-white !important;
	}

	@media screen and (max-width: 620px){
		flex-wrap: wrap;
		padding: .5em;

		.play{
			padding: .5em;
		}

		& > div:last-of-type{
			display: flex;
			flex-direction:column;

			a{
				margin: .5em;
				padding: .5em;
			}
		}
	}
}
 */

// ==================================================
// Cards for Saved & Scraped Pages

.card{
	border-color: $c-tan;
	border-radius: 0;

	.card-img-top{
		border-radius: 0;
	}
}

.card-columns{
	column-count: 2;
}

.saved-wrapper{
	.article-body{
		display: flex;
		flex-direction: row-reverse;

		& > div {
			padding: 1em;
			flex-basis: 50%;
		}

		img{
			width: 100%;
			border-radius: 8.5px;
			@include boxshadow;
		}

		h4{
			font-weight: bold;
		}
	}

	button.delete-article{
		position: absolute;
		top: 0;
		right: 0;
		@extend button, .primary-btn;
	}

	.comment-wrap{
		padding: 1em;
		margin-bottom: 1.5em;
		font-size: small;

		button{
			@extend button, .primary-green-btn;
			padding: .55em .4em;
			margin: .5em;
			float: right;
		}

		form{
			padding: 1em;
		}

		label{
			display: block;
			width: 100%;
		}

	}
}

.scraped-wrapper{
	width: 100%;
	max-width: none;
	display: flex;
	justify-content: space-around;

	& > section{
		flex-basis: 100%;
		margin: 1em;
		padding: 1em;
		border: 8px solid $c-green-d;
		border-image: url('/assets/green3.jpg') 40 round;

		h3{
			text-align: center;
		}

		a{
			display: block;
		}
	}

	@media screen and (max-width: 1200px){
		flex-wrap: wrap;
	}
}
