$c-green-l: #41765B;
$c-green-m: #2a5941;
$c-green-d: #08351E;
$c-pink: #ff008c;
$c-tan: #dac7a6;
$c-grey: #2d1d1e;
$c-white: #FFFFFF;
$c-offwhite: #e8efef;


// ==================================================
// Mixins

@mixin transition($which: all, $time: 0.5s, $how: ease-in-out){
	-webkit-transition: $which $time $how;
	-moz-transition: $which $time $how;
	-ms-transition: $which $time $how;
	-o-transition: $which $time $how;
	transition: $which $time $how;
}

@mixin gradient-bg($left, $right: darken($left, 25%)){
	background: $left; // backup
	background: -webkit-linear-gradient($left, $right);
	background: -o-linear-gradient($left, $right);
	background: -moz-linear-gradient($left, $right);
	background: linear-gradient($left, $right);
}

@mixin boxshadow($horiz: 0, $vert: 2px, $blur: 5px, $col: rgba(0, 0, 0, 0.26)){
	-webkit-box-shadow: $horiz $vert $blur $col;
	box-shadow: $horiz $vert $blur $col;
}

// ==================================================
// Layout & Utils

.center{
	text-align: center;
}

button.primary-btn{
	background: $c-pink;
	border: 2px solid $c-pink;
	color: $c-white;
	padding: .65em 1em;
	border-radius: 8.5px;

	&:active,
	&:hover{
		background: transparent;
		border: 2px solid $c-pink;
		text-decoration: none;
		color: $c-pink;
		@include boxshadow;
	}
}

button.primary-green-btn{
	background: $c-green-m;
	border: 2px solid $c-green-m;
	color: $c-white;
	padding: .65em 1em;
	border-radius: 8.5px;

	&:active,
	&:hover{
		background: transparentize($c-green-m, .5);
		border: 2px solid $c-green-m;
		text-decoration: none;
		@include boxshadow;
	}
}

button.secondary-btn{
	background: transparent;
	border: 2px solid $c-pink;
	color: $c-pink;
	padding: .65em 1em;
	border-radius: 8.5px;
	@include transition;

	&:active,
	&:hover{
		background: darken($c-pink, 5%);
		border: 2px solid $c-pink;
		color: $c-white;
		text-decoration: none;
		@include boxshadow;
	}
}

button.link-btn{
	background: transparent;
	border: 2px solid transparent;
	color: $c-pink;
	padding: .65em 1em;
	border-radius: 8.5px;
	@include transition;

	&:active,
	&:hover{
		color: $c-green-d;
		background: transparent;
		border: 2px solid transparent;
		text-decoration: underline;
	}
}

button:disabled{
	background: inherit !important;
	border-color: inherit !important;
	color: inherit !important;
}

a{
	color: $c-green-m;

	&:active,
	&:hover{
		color: $c-green-l;
		transform: scale(1.1);
	}
}

.jumbotron{
	background: transparent;
}

.full-cover {
	position: fixed;
	top: 3.5em;
	bottom: -2em;
	left: 0;
	right: 0;
	overflow: hidden;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h1, h2, h3, h4, a, div, button{
		padding: 1em;
	}
}

// ==================================================
// Nav Menu

nav.top-nav{
	min-height: 3.5em;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: .5em 1em;
	z-index: 1;
	// margin-bottom: .25em;

	background: $c-green-d;
	color: $c-offwhite;

	a {
		color: $c-offwhite;
		margin: 0 .5em;

		&:hover{
			color: $c-white;
		}
	}

	.play a {
		@extend button.primary-btn;
		color: $c-white !important;
	}

	@media screen and (max-width: 620px){
		flex-wrap: wrap;
		padding: .5em;

		.play{
			padding: .5em;
		}

		& > div:last-of-type{
			display: flex;
			flex-direction:column;

			a{
				margin: .5em;
				padding: .5em;
			}
		}
	}
}


// ==================================================
// Cards 

.card-columns{
	column-count: 2;
}

button.save-article{
	position: absolute;
	top: 0;
	right: 0;

	@extend button.primary-green-btn;
}

// "Saved" message should appear the same 
div.save-article{
	@extend button.save-article;
}


.saved-wrapper{
	.article-body{
		display: flex;
		flex-direction: row-reverse;

		& > div {
			padding: 1em;
			flex-basis: 50%;
		}

		img{
			width: 100%;
			border-radius: 8.5px;
			@include boxshadow;
		}
	}

	button.delete-article{
		@extend button.secondary-btn;
	}

	.comment-body{
		padding: 1em;
		margin-bottom: 1.5em;
		font-size: small;

		button{
			@extend button.primary-green-btn;
			padding: .55em .4em;
			float: right;
		}

		form{
			padding: 1em;
		}

		label{
			display: block;
			width: 100%;
		}

	}
}

.scraped-wrapper{
	width: 100%;
	max-width: none;
	display: flex;
	justify-content: space-around;

	& > section{
		flex-basis: 100%;
		margin: 1em;
		padding: 1em;
		border: 2px solid black;

		h3{
			text-align: center;
		}

		a{
			display: block;
		}
	}

	@media screen and (max-width: 1200px){
		flex-wrap: wrap;
	}
}

// ==================================================
// Animations https://docs.angularjs.org/api/ng/directive/ngIf

.animate-if{
	@include transition($how: cubic-bezier(0.250, 0.460, 0.450, 0.940));

	&.ng-enter{
		opacity: 0;
	}

	&.ng-leave{
		opacity: 1;
	}
}