@import url("https://fonts.googleapis.com/css?family=Inconsolata:400,700|Poppins:400,900");
@keyframes shrinkNspin {
  0% {
    transform: scale(8); }
  25% {
    transform: scale(1); }
  50% {
    transform: rotate(360deg); }
  75% {
    transform: rotate(-360deg); } }
.animate-if {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .animate-if.ng-enter {
    opacity: 0; }
  .animate-if.ng-leave {
    opacity: 1; }

* {
  font-family: 'Inconsolata', monospace;
  color: #08351E; }

h1, h2, h3, h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 900; }

main.container {
  max-width: 100%; }

.card {
  border-radius: 0;
  margin: .25em;
  padding: 0; }

.clip {
  font-family: 'Poppins', sans-serif;
  font-weight: 900;
  color: #41765B;
  background-image: url("/assets/green4.jpg");
  background-size: cover;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.center {
  text-align: center; }

.jumbotron {
  background: transparent;
  border-radius: 0;
  -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

button.primary-btn, div.primary-btn.top-right, nav .play a {
  background: #ff008c;
  border: 2px solid #ff008c;
  color: #FFFFFF;
  padding: .65em 1em;
  border-radius: 8.5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  button.primary-btn:active, div.primary-btn.top-right:active, nav .play a:active, button.primary-btn:hover, div.primary-btn.top-right:hover, nav .play a:hover {
    background: transparent;
    border: 2px solid #ff008c;
    text-decoration: none;
    color: #ff008c;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

button.primary-green-btn, button.top-right, div.top-right, nav .play a.top-right, nav .play a.primary-green-btn {
  background: #2a5941;
  border: 2px solid #2a5941;
  color: #FFFFFF;
  padding: .65em 1em;
  border-radius: 8.5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  button.primary-green-btn:active, button.top-right:active, div.top-right:active, nav .play a.top-right:active, nav .play a.primary-green-btn:active, button.primary-green-btn:hover, button.top-right:hover, div.top-right:hover, nav .play a.top-right:hover, nav .play a.primary-green-btn:hover {
    background: rgba(42, 89, 65, 0.5);
    border: 2px solid #2a5941;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

button.secondary-btn, div.secondary-btn.top-right, nav .play a.secondary-btn {
  background: transparent;
  border: 2px solid #ff008c;
  color: #ff008c;
  padding: .65em 1em;
  border-radius: 8.5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  button.secondary-btn:active, div.secondary-btn.top-right:active, nav .play a.secondary-btn:active, button.secondary-btn:hover, div.secondary-btn.top-right:hover, nav .play a.secondary-btn:hover {
    background: #e6007e;
    border: 2px solid #ff008c;
    text-decoration: none;
    color: #FFFFFF;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

button.link-btn, div.link-btn.top-right, nav .play a.link-btn {
  background: transparent;
  border: 2px solid transparent;
  color: #ff008c;
  padding: .65em 1em;
  border-radius: 8.5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  button.link-btn:active, div.link-btn.top-right:active, nav .play a.link-btn:active, button.link-btn:hover, div.link-btn.top-right:hover, nav .play a.link-btn:hover {
    background: transparent;
    border: 2px solid transparent;
    text-decoration: none;
    color: #08351E;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

button.top-right, div.top-right, nav .play a.top-right {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 0 0 0 8.5px; }

button:disabled, div.top-right:disabled, nav .play a:disabled {
  background: inherit !important;
  border: inherit !important;
  color: inherit !important; }

a {
  color: #2a5941; }
  a:visited, a:active, a:hover {
    color: #41765B;
    transform: scale(1.1); }

html {
  height: 100%; }

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  body div.ng-scope {
    flex-basis: 100%; }

nav {
  background: #08351E;
  color: #e8efef;
  padding: 1em;
  z-index: 1;
  display: flex;
  justify-content: space-between; }
  nav a {
    color: #e8efef;
    margin: 0 .5em; }
    nav a:visited, nav a:active, nav a:hover {
      color: #FFFFFF;
      transform: none; }
  nav .play a {
    color: #FFFFFF !important; }

button.play-btn, div.play-btn.top-right, nav .play a.play-btn {
  animation-name: shrinkNspin;
  animation-duration: 4s;
  animation-delay: 0.25s; }

.game-cover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .game-cover h4 {
    padding: .5em; }
  .game-cover a {
    padding: 1.5em; }

.scraped-wrapper section {
  margin: 1em;
  padding: 1em;
  border: 8px solid #08351E;
  border-image: url("/assets/green3.jpg") 40 round; }
  .scraped-wrapper section a {
    display: block; }

.saved-wrapper .card {
  display: flex;
  flex-direction: row-reverse; }
  .saved-wrapper .card .img-wrapper {
    flex-basis: 35%; }
    .saved-wrapper .card .img-wrapper img {
      width: 100%; }
  .saved-wrapper .card .article-wrapper {
    flex-basis: 65%;
    padding: 1em; }
  .saved-wrapper .card button[type="submit"]:active, .saved-wrapper .card div[type="submit"].top-right:active, .saved-wrapper .card nav .play a[type="submit"]:active, nav .play .saved-wrapper .card a[type="submit"]:active {
    transform: scale(2); }
  @media screen and (max-width: 640px) {
    .saved-wrapper .card {
      flex-direction: column; }
      .saved-wrapper .card input, .saved-wrapper .card label {
        width: 100%; } }

/*# sourceMappingURL=styles.css.map */
