// ////////////////////////////////////////
// Mongoose 

$c-green-l: #41765B;
$c-green-m: #2a5941;
$c-green-d: #08351E;
$c-pink: #ff008c;
$c-tan: #dac7a6;
$c-grey: #2d1d1e;
$c-white: #FFFFFF;
$c-offwhite: #e8efef;


// ==================================================
// Mixins

@mixin transition($which: all, $time: 0.5s, $how: ease-in-out){
	-webkit-transition: $which $time $how;
	-moz-transition: $which $time $how;
	-ms-transition: $which $time $how;
	-o-transition: $which $time $how;
	transition: $which $time $how;
}

@mixin gradient-bg($left, $right: darken($left, 25%)){
	background: $left; // backup
	background: -webkit-linear-gradient($left, $right);
	background: -o-linear-gradient($left, $right);
	background: -moz-linear-gradient($left, $right);
	background: linear-gradient($left, $right);
}

@mixin boxshadow($horiz: 0, $vert: 2px, $blur: 5px, $col: rgba(0, 0, 0, 0.26)){
	-webkit-box-shadow: $horiz $vert $blur $col;
	box-shadow: $horiz $vert $blur $col;
}

@keyframes shrinkNspin{
	0%{ transform: scale(8) }
	25%{ transform: scale(1) }
	50%{ transform: rotate(360deg) }
	75%{ transform: rotate(-360deg) }
}


// ==================================================
// Animations https://docs.angularjs.org/api/ng/directive/ngIf

.animate-if{
	@include transition($how: cubic-bezier(0.250, 0.460, 0.450, 0.940));

	&.ng-enter{
		opacity: 0;
	}

	&.ng-leave{
		opacity: 1;
	}
}


// ==================================================
// Layout, Gen Styles & Utils
// plus undoing and bootstrap stuffs

@import url('https://fonts.googleapis.com/css?family=Inconsolata:400,700|Poppins:400,900');

*{
	font-family: 'Inconsolata', monospace;
	color: $c-green-d;
}

h1, h2, h3, h4{
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
}

main.container{
	max-width: 100%;
}

.card{
	border-radius: 0;
	margin: .25em;
	padding: 0;
}

.clip {
	font-family: 'Poppins', sans-serif;
	font-weight: 900;
	color: $c-green-l;
	background-image: url('/assets/green4.jpg');
	background-size: cover;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.center{
	text-align: center;
}


.jumbotron{
	background: transparent; 
	border-radius: 0;
	@include boxshadow;
}


@mixin buttonMaker($bgColor, $bordColor, $textColor, $activeBg: transparent, $activeCol: $bgColor){
	background: $bgColor;
	border: 2px solid $bordColor;
	color: $textColor;
	padding: .65em 1em;
	border-radius: 8.5px;
	@include transition;

	&:active,
	&:hover{
		background: $activeBg;
		border: 2px solid $bordColor;
		text-decoration: none;
		color: $activeCol;
		@include boxshadow;
	}
}

button.primary-btn{
	@include buttonMaker($c-pink, $c-pink, $c-white);
}
button.primary-green-btn{
	@include buttonMaker($c-green-m, $c-green-m, $c-white, transparentize($c-green-m, .5), $c-white);
}
button.secondary-btn{
	@include buttonMaker(transparent, $c-pink, $c-pink, darken($c-pink, 5%), $c-white);
}
button.link-btn{
	@include buttonMaker(transparent, transparent, $c-pink, transparent, $c-green-d);
}

button.top-right{
	@extend button, .primary-green-btn;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 0 0 0 8.5px;
}

// "Saved" message should appear the same
// as previous button
div.top-right{
	@extend button, .top-right;
}

button:disabled{
	background: inherit !important;
	border: inherit !important;
	color: inherit !important;
}

a{
	color: $c-green-m;
	&:visited,
	&:active,
	&:hover{
		color: $c-green-l;
		transform: scale(1.1);
	}
}

// ==================================================
// Nav Menu

html{ height: 100% }
body{
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	div.ng-scope{
		flex-basis: 100%;
	}
}

nav{
	background: $c-green-d;
	color: $c-offwhite;
	padding: 1em;
	z-index: 1;

	display: flex;
	justify-content: space-between;

	a {
		color: $c-offwhite;
		margin: 0 .5em;
		&:visited,
		&:active,
		&:hover{
			color: $c-white;
			transform: none;
		}
	}

	.play a {
		@extend button, .primary-btn;
		color: $c-white !important;
	}
}


// ==================================================
// Play Game

button.play-btn{
	animation-name: shrinkNspin; 
	animation-duration: 4s;
	animation-delay: 0.25s;
}

.game-cover{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	h4{ padding: .5em; }
	a{ padding: 1.5em; }
}

// ==================================================
// Scraped Articles


.scraped-wrapper section{
	margin: 1em;
	padding: 1em;
	border: 8px solid $c-green-d;
	border-image: url('/assets/green3.jpg') 40 round;

	a{ display: block }
}


// ==================================================
// Saved Articles

.saved-wrapper .card{
	display: flex;
	flex-direction: row-reverse;

	.img-wrapper{
		flex-basis: 35%;

		img{ width: 100%; }
	}

	.article-wrapper{
		flex-basis: 65%;
		padding: 1em;
	}

	button[type="submit"]{
		&:active{
			transform: scale(2);
		}
	}

	@media screen and (max-width: 640px){
		flex-direction: column;

		input, label{
			width: 100%;
		}
	}
}