.center {
  text-align: center; }

button.primary-btn, nav.top-nav .play a, button.delete-article {
  background: #ff008c;
  border: 2px solid #ff008c;
  color: #FFFFFF;
  padding: .65em 1em;
  border-radius: 8.5px; }
  button.primary-btn:active, nav.top-nav .play a:active, button.delete-article:active, button.primary-btn:hover, nav.top-nav .play a:hover, button.delete-article:hover {
    background: transparent;
    border: 2px solid #ff008c;
    text-decoration: none;
    color: #ff008c;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

button.primary-green-btn, button.save-article, div.save-article {
  background: #2a5941;
  border: 2px solid #2a5941;
  color: #FFFFFF;
  padding: .65em 1em;
  border-radius: 8.5px; }
  button.primary-green-btn:active, button.save-article:active, div.save-article:active, button.primary-green-btn:hover, button.save-article:hover, div.save-article:hover {
    background: rgba(42, 89, 65, 0.5);
    border: 2px solid #2a5941;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

button.secondary-btn {
  background: transparent;
  border: 2px solid #ff008c;
  color: #ff008c;
  padding: .65em 1em;
  border-radius: 8.5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  button.secondary-btn:active, button.secondary-btn:hover {
    background: #e6007e;
    border: 2px solid #ff008c;
    color: #FFFFFF;
    text-decoration: none;
    -webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); }

button.link-btn {
  background: transparent;
  border: 2px solid transparent;
  color: #ff008c;
  padding: .65em 1em;
  border-radius: 8.5px;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out; }
  button.link-btn:active, button.link-btn:hover {
    color: #08351E;
    background: transparent;
    border: 2px solid transparent;
    text-decoration: underline; }

a {
  color: #2a5941; }
  a:active, a:hover {
    color: #41765B;
    transform: scale(1.1); }

.jumbotron {
  background: transparent; }

.full-cover {
  border: 2px solid;
  position: fixed;
  top: 3.5em;
  bottom: -2em;
  left: 0;
  right: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .full-cover h1, .full-cover h2, .full-cover h3, .full-cover h4, .full-cover a, .full-cover div, .full-cover button {
    padding: 1em; }

nav.top-nav {
  min-height: 3.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .5em 1em;
  margin-bottom: .25em;
  background: #08351E;
  color: #e8efef; }
  nav.top-nav a {
    color: #e8efef;
    margin: 0 .5em; }
    nav.top-nav a:hover {
      color: #FFFFFF; }
  nav.top-nav .play a {
    color: #FFFFFF !important; }
  @media screen and (max-width: 620px) {
    nav.top-nav {
      flex-wrap: wrap;
      padding: .5em; }
      nav.top-nav .play {
        padding: .5em; }
      nav.top-nav > div:last-of-type {
        display: flex;
        flex-direction: column; }
        nav.top-nav > div:last-of-type a {
          margin: .5em;
          padding: .5em; } }

.card-columns {
  column-count: 2; }

button.save-article, div.save-article {
  position: absolute;
  top: 0;
  right: 0; }

button.delete-article {
  position: absolute;
  top: 0;
  right: 0; }

.scraped-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-around; }
  .scraped-wrapper > section {
    flex-basis: 100%;
    margin: 1em;
    padding: 1em;
    border: 2px solid black; }
    .scraped-wrapper > section h3 {
      text-align: center; }
    .scraped-wrapper > section a {
      display: block; }
  @media screen and (max-width: 1200px) {
    .scraped-wrapper {
      flex-wrap: wrap; } }

.animate-if {
  -webkit-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -moz-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -ms-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  -o-transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  transition: all 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94); }
  .animate-if.ng-enter {
    opacity: 0; }
  .animate-if.ng-leave {
    opacity: 1; }

/*# sourceMappingURL=styles.css.map */
