<div>
	<div class="jumbotron">
		<h1>The Onion? or <span class="clip">Not</span> The Onion?</h1>
		<p class="lead">Guess if an article is made up by the staff at The Onion or if it is a real article submitted to Reddit's "Not The Onion" subreddit</p>
	</div>
	<main class="container">
		<div ng-show"inProgress">
			Ready? Let's Play
		</div>
		<div ng-show"!inProgress">
			<h4>Title</h4>

			<div>
				<button>Not the Onion</button>
				<button>The Onion</button>
			</div>
		</div>
	</main>
</div>